body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background: linear-gradient(90deg, #ff6a00, #ee0979);
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #444;
    color: white;
}

a {
    color: #ff6a00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Темная тема */
.dark-theme {
    background-color: #1e1e1e;
    color: #f4f4f4;
}

.controls {
    margin-top: 10px;
}

button {
    background-color: #ff6a00;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ee0979;
}

button:focus {
    outline: none;
}
